<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head lang="en">
</head>
<body>

<!-- START HEADER -->
<header id="header" class="page-topbar" th:fragment="header">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="cyan">
            <div class="nav-wrapper">

                <ul class="left">
                    <li><h1 class="logo-wrapper"><a href="#" th:href="@{/}" class="brand-logo darken-1"><img src="../../static/images/ebm-logo.png" alt="EBM logo" th:src="@{/images/ebm-logo.png}"/></a> <span class="logo-text">EBM</span></h1></li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="mdi-action-search"></i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore EBM"/>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                    </li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-navigation-apps"></i></a>
                    </li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a>
                    </li>
                    <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- HORIZONTL NAV START-->
        <nav id="horizontal-nav" class="white hide-on-med-and-down">
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li>
                        <a  href="#" th:href="@{/dashboard}" class="cyan-text">
                            <i class="mdi-action-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/fuzzylabs}" class="cyan-text">
                            <i class="mdi-action-invert-colors"></i>
                            <span>Fuzzy Labs</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" th:href="@{/labs}" class="cyan-text">
                            <i class="mdi-action-invert-colors"></i>
                            <span>Labs</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" th:href="@{/}" class="cyan-text">
                            <i class="mdi-action-invert-colors"></i>
                            <span>Predictive Analytics</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu cyan-text" href="#!" data-activates="Usersdropdown">
                            <i class="mdi-action-account-circle"></i>
                            <span>Users<i class="mdi-navigation-arrow-drop-down right"></i></span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-menu cyan-text" href="#!" data-activates="Chartsdropdown">
                            <i class="mdi-editor-insert-chart"></i>
                            <span>Association Rules<i class="mdi-navigation-arrow-drop-down right"></i></span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <!-- Tablesdropdown -->
        <ul id="Tablesdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="table-basic.html" class="cyan-text">Basic Tables</a></li>
            <li><a href="fuzzylabs-data.html" class="cyan-text">Data Tables</a></li>
        </ul>

        <!-- Formsdropdown -->
        <ul id="Formsdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="form-elements.html" class="cyan-text">Form Elements</a></li>
            <li><a href="form-layouts.html" class="cyan-text">Form Layouts</a></li>
        </ul>

        <!-- Pagesdropdown -->


        <!-- Usersdropdown -->
        <ul id="Usersdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="user-profile-page.html"  class="cyan-text">User Profile</a></li>
            <li><a href="user-login.html"  class="cyan-text">Login</a></li>
            <li><a href="user-register.html" class="cyan-text">Register</a></li>
            <li><a href="user-forgot-password.html" class="cyan-text">Forgot Password</a></li>
            <li><a href="user-lock-screen.html" class="cyan-text">Lock Screen</a></li>
            <li><a href="user-sesssion-timeout.html" class="cyan-text">Session Timeout</a></li>
        </ul>

        <!-- Chartsdropdown -->
        <ul id="Chartsdropdown" class="dropdown-content dropdown-horizontal-list">
            <li><a href="#" th:href="@{/generalrules}" class="cyan-text">General Rules</a></li>
            <li><a href="#" th:href="@{/rulesongender}" class="cyan-text">Rules by Gender</a></li>
            <li><a href="#" th:href="@{/rulesonregion}" class="cyan-text">Rules by Region</a></li>
            <li><a href="#" th:href="@{/rulesonmaritalstatus}" class="cyan-text">Rules by Marital Status</a></li>
            <li><a href="#" th:href="@{/associationrules}" class="cyan-text">Non Hiv</a></li>
        </ul>
        <!-- HORIZONTL NAV END-->

    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->

</body>
</html>