<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="msapplication-tap-highlight" content="no"/>
<title>EBM</title>

<!-- Favicons-->
<link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32"/>
<!-- Favicons-->
<link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png"/>
<!-- For iPhone -->
<meta name="msapplication-TileColor" content="#00bcd4"/>
<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png"/>
<!-- For Windows Phone -->

<!-- CORE CSS-->

<link href="../static/css/materialize.css" th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<!-- Custome CSS-->
<link href="../../static/css/custom-style.css" th:href="@{/css/custom-style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<!-- CSS style Horizontal Nav (Layout 03)-->
<link href="../../static/css/style-horizontal.css" th:href="@{/css/style-horizontal.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="http://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css" th:href="@{http://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>



<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="../static/css/prism.css" th:href="@{/css/prism.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../static/js/plugins/perfect-scrollbar/perfect-scrollbar.css" th:href="@{/js/plugins/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../static/js/plugins/data-tables/css/jquery.dataTables.min.css" th:href="@{/js/plugins/data-tables/css/jquery.dataTables.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="../static/js/plugins/chartist-js/chartist.min.css" th:href="@{/js/plugins/chartist-js/chartist.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

</body>
</html>